<!-- Mostra il prodotto solo se esiste -->
@if( prodotto ){
<!-- Card con i dati del prodotto -->
<div class="card" style="width: 18rem;">
    <!-- Immagine del prodotto presa dalla proprietà "foto" -->
    <img [src]="prodotto.foto" alt="" class="card-iomg-top">
    <div class="card-body">
        <!-- Nome del prodotto in maiuscolo -->
        <!-- Colore rosso se prezzo > 80, verde se < 80 -->
        <h5 class="card-title" [ngClass]="{rosso:prodotto.prezzo > 80, verde: prodotto.prezzo < 80 }">{{ prodotto.nome
            |uppercase }}</h5>
        <!-- Prezzo del prodotto formattato in euro -->
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ prodotto.prezzo |currency:'EUR':'symbol':'1.2-2' }}</h6>
        <!-- Descrizione del prodotto -->
        <p class="card-text">{{ prodotto.desc }}</p>


        <button class="btn btn-primary" (click)="saluta()">Saluta</button>
        <!-- 
            L'attributo (click) è una "event binding" di Angular: 
            significa che quando l’utente clicca sul bottone viene eseguita la funzione "saluta()" 
            definita nel file TypeScript del componente (prodotto-card.component.ts).
            Quindi: 
                - Angular intercetta l’evento DOM "click"
                - chiama il metodo "saluta()" del componente 
                - dentro "saluta()" puoi scrivere qualsiasi logica (es. mostrare un alert, stampare in console, modificare variabili ecc.)
            In pratica questo collega il template HTML alla logica TypeScript del componente 
        -->
    </div>
</div>
<!-- Se non c'è prodotto mostra messaggio alternativo -->
}@else{
<p>Prodotto non inserito</p>
}